{% load static %}






<h1>BIENVENIDOS A MEIN ASM</h1> 


<!DOCTYPE html>
<html>
<head>
	
	<title>ANDROGANG</title>
	<link rel="stylesheet" href="{% static '/css/main.css' %}">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body" id="profile-wrapper"></div>
				<img id="profile-pic" src="{% static 'images/banner.jpg' %}" width= "1300" height="400" alt="">
				<br>
				<h4>!HOLAAAAAAAAAAA¡</h4>
				<p>Esta es una página para personalizar tu ASMR</p>
			</div>
			<br>
			<div class="col-md-9">

				<div class="card card-body"></div>
				
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">

				<div class="card card-body"></div>
			</div>
			<br>
			<div class="col-md-6">

				<div class="card card-body"></div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">

				<div class="card card-body"></div>
			</div>
			<div class="col-md-6">

				<div class="card card-body"></div>
			</div>
			<br>
		</div>
	</div>

</body>
</html>